<div ng-init="geolocate()" style="margin:0;background: url({{ background }}) center center no-repeat;-webkit-background-size:cover;height:100%;" class="home-screen">
<div class="overlay">


<i spinner class="screen-spinner" ng-hide="temp">
  <img src="img/bike-brake.svg" class="spinner-brake">
  <p class="spinner-msg">getting your position</p>
</i>

<div class="screen-view" ng-show="temp">
  
  <div class="weather-view body-view">
    <h2 class="town">
      {{ town }} 
    </h2>

    <ul class="weather-conditions">
      <li class="weather-temp">
        <div class="temp cf">
          <span class="temp-label">{{ temp }}&deg; C</span>
          <img ng-src="img/{{ icon }}.svg" class="weather-icon" alt="{{ weather }}">
        </div>
      </li>
      <li class="weather-humidity">
        <span>
          <i class="icon-tint"></i>
          <span class="weather-value">{{ humidity }}</span>
        </span>
        <span>
          <i class="icon-leaf"></i>
          <span class="weather-value">{{ wind_kph }} km/h</span>
        </span>
      </li>
      <li class="weather-wind">
        
      </li>
      
    </ul>
  </div>
  
  <footer class="footer-view">
    <button ng-tap="navigate.go('/history')" class="btn btn-history">
      <i class="icon-map-marker"></i> history
    </button>
    <button ng-tap="navigate.go('/ride')" class="btn btn-ride">
      <i class="icon-bolt"></i> start new ride
    </button>
  </footer>

</div>
</div>
</div>