<div style="background: url({{ background }}) center center fixed no-repeat;-webkit-background-size:cover;" ng-init="watch()" class="screen-panel">
<div class="overlay">
  
  <div class="header-view">
    <h1 class="view-title">New ride 
      <a href="" id="ios-arrow-left" ng-tap="navigate.back()">Back</a>
      <a href="" id="ios-btn-right" ng-tap="stop()"><i class="icon-remove"></i> stop</a>
    </h1>
  </div>

  <div class="screen-view ride-view">
    <div class="view-row centered">
      <h2 class="chrono" chrono></h2>
      <p><img src="img/bike-white.svg" width="128" height="128"></p>
      <h3 class="ride-position"><small>avg. speed</small> {{ point.speed||"0.00" }} km/h</h3>
      <h3 class="ride-position"><small>distance</small> {{ distance||"0.00" }} km</h3>
    </div> 
  </div>
</div>
</div>